//Colors Theme Dynamic

$theme-global-agent: #003C71;
$theme-global-agent-1: #FFB600;

$theme-solo-agent: #FF6900;
$theme-solo-agent-1: #41B6E6;

$whelesup-light-blue: #2aabe2;
$whelesup-purple: #313975;
$whelesup-pink: #ec008b;

$font-path: "../fonts/" !default;

